<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">

	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Console>
		<RollingRandomAccessFile name="collectRollingLog"
			fileName="/data01/collect-shape-log/collect-shape.log"
			filePattern="/data01/collect-shape-log/$${date:yyyy-MM}/collect-shape-%d{MM-dd-yyyy}-%i.log.gz">
			<PatternLayout>
				<Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy interval="1"
					modulate="true" />
			</Policies>
			<DefaultRolloverStrategy max="30" />
		</RollingRandomAccessFile>
	</Appenders>
	<Loggers>
		<logger name="cn.dataup.collect" level="info">
		<AppenderRef ref="collectRollingLog" />
		</logger>
		
		<logger name="autonavi.online.framework" level="warn">
		<AppenderRef ref="collectRollingLog" />
		</logger>
		

		<Root level="info">
<!-- 			<AppenderRef ref="Console" /> -->
		</Root>
	</Loggers>
</Configuration>

