<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans   
        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd  
        http://www.springframework.org/schema/context  
        http://www.springframework.org/schema/context/spring-context-4.0.xsd  
        http://www.springframework.org/schema/aop   
        http://www.springframework.org/schema/aop/spring-aop-4.0.xsd">

	<import resource="provider.xml" />
	<import resource="applicationContext-zk.xml" />
	<import resource="applicationContext-datasource.xml" />
	<import resource="applicationContext-tx.xml" />
	<import resource="applicationContext-jedis.xml" />
	<import resource="applicationContext-push.xml" />
	<import resource="applicationContext-auditback.xml" />
	<import resource="applicationContext-mongodb.xml" />

	
	
	<context:annotation-config />
	<context:component-scan base-package="com.autonavi.collect">
	<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
	<context:exclude-filter type="aspectj"
			expression="com.gd.app.security.edit..*" />
	</context:component-scan>

</beans>
